<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Foreign</title>
    <style type="text/css">
        body {
            width: 900px;
            margin: 30px auto;
        }

        img {
            width: 280px;
            height: 300px;
        }

        div {
            width: 300px;
            float: left;
            text-align: center;
            line-height: 25px;
            font-size: 13pt;
        }

        ul li {
            text-align: left;
            font-size: 10pt;
        }
    </style>
</head>

<body>

    <div>
        <img src="img/vietnam.jpg">
        <br>
        <br>
        <span><strong>VIETNAM</strong></span>
        <br>
        <ul>
            <li>포인트 : 가족 단위로 가기 좋은</li>
            <li>즐길거리 : 유람선 탑승, 마사지 등</li>
            <li>식사 : 쌀국수, 분짜, 씨푸드 등</li>
        </ul>
    </div>

    <div>
        <img src="img/thai.jpg">
        <br>
        <br>
        <span><strong>THAILAND</strong></span>
        <br>
        <ul>
            <li>포인트 : 혼자 가도 즐거운</li>
            <li>즐길거리 : 비치 클럽, 워터파크, 쇼핑 등</li>
            <li>식사 : 똠양꿍, 나시고랭, 팟타이 등</li>
        </ul>
    </div>

    <div>
        <img src="img/philippine.jpg">
        <br>
        <br>
        <span><strong>PHILIPPINES</strong></span>
        <br>
        <ul>
            <li>포인트 : 휴식을 취하기 좋은</li>
            <li>즐길거리 : 스노쿨링, 호핑투어, 카약 등</li>
            <li>식사 : 팔라복, 판싯, 레촌 등</li>
        </ul>
    </div>

</body></html>