<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Local</title>
    <style type="text/css">
        body {
            width: 900px;
            margin: 30px auto;
        }

        img {
            width: 270px;
            height: 300px;
        }

        div {
            width: 300px;
            float: left;
            text-align: center;
            line-height: 25px;
            font-size: 13pt;
        }

        ul li {
            text-align: left;
            font-size: 10pt;
        }
    </style>
</head>

<body>

    <div>
        <img src="img/jeju.jpg">
        <br>
        <br>
        <span><strong>제주도</strong></span>
        <br>
        <ul>
            <li>포인트 : 산과 바다를 동시에 즐길 수 있는</li>
            <li>즐길거리 : 감귤따기, 성산일출봉, 올레길 등</li>
            <li>식사 : 흑돼지, 한라봉, 고등어회 등</li>
        </ul>
    </div>

    <div>
        <img src="img/busan.jpg">
        <br>
        <br>
        <span><strong>부산</strong></span>
        <br>
        <ul>
            <li>포인트 : 제2의 도시로 볼거리가 많은</li>
            <li>즐길거리 : 해운대, 광안대교, 흰여울마을 등</li>
            <li>식사 : 물떡, 국밥, 밀면 등</li>
        </ul>
    </div>

    <div>
        <img src="img/sokcho.jpg">
        <br>
        <br>
        <span><strong>속초</strong></span>
        <br>
        <ul>
            <li>포인트 : 동해바다를 즐길 수 있는</li>
            <li>즐길거리 : 해수욕장, 전망대, 활어센터 등</li>
            <li>식사 : 회, 아바이순대, 생선구이 등</li>
        </ul>
    </div>
    
    
</body>
</html>