<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>✈ SISO TRAVEL ✈</title>
    <link rel="stylesheet" type="text/css" href="style_main.css" />
</head>

<body>

    <div class="h">
        <h1><a href="main.html"><img src="img/logo.png" id="logo"></a><a href="main.html">SISO TRAVEL</a></h1>
    </div>

    <a href="index.html"><span>Logout</span></a>

    <nav>
        <ul>
            <li><a href="booking.html" title="예약하기" target="area">Booking</a></li>
            <li><a href="local.html" title="국내여행" target="area">Local</a></li>
            <li><a href="foreign.html" title="해외여행" target="area">Foreign</a></li>
            <li><a href="photo.html" title="사진앨범" target="area">Review</a></li>
            <li><a href="support.html" title="고객센터" target="area">Support</a></li>
        </ul>
    </nav>

    <iframe name="area" src="img/iframe_main.jpg"></iframe>

</body></html>