<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <style type="text/css">
        body {
            margin: 0 auto;
            margin-top: 70px;
            text-align: center;
        }

        ul {
            overflow: hidden;
            margin: 30px auto;
            padding: 0;
        }

        ul li {
            display: inline-block;
            margin: 5px;
            list-style-type: none;
        }
    </style>

    <title>Photo</title>
</head>

<body>
    <ul>
        <li>
            <img src="/images/sj_1.jpg" width="210" height="210">
        </li>
        <li>
            <img src="/images/sj_2.jpg" width="210" height="210">
        </li>
        <li>
            <img src="/images/sj_3.jpg" width="210" height="210">
        </li>
        <li>
            <img src="/images/sj_4.jpg" width="210" height="210">
        </li>
    </ul>

    <ul>
        <li>
            <img src="/images/sh_1.jpg" width="210" height="210">
        </li>
        <li>
            <img src="/images/sh_2.jpg" width="210" height="210">
        </li>
        <li>
            <img src="/images/sh_3.jpg" width="210" height="210">
        </li>
        <li>
            <img src="/images/sh_4.jpg" width="210" height="210">
        </li>
    </ul>
</body></html>